@import '~/assets/styles/tools.scss';
@import '~/assets/styles/animate.scss';

@include rotate;

.container {
  width: 100%;
  font-size: 24px;
  color: var(--theme-font-color);
  .inner {
    @include resetButton;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--theme-main-color);
    padding: 1em 2em;
    border-radius: 8px;
    .loadingIcon {
      margin-right: 0.5em;
      width: 1.5em;
      height: 1.5em;
      animation: rotate 0.75s linear infinite forwards;
    }
  }

  &[data-ghost='true'] {
    color: var(--theme-cherry);
    .inner {
      background: transparent;
      border: 2px solid var(--theme-cherry);
    }
  }

  &[data-text='true'] {
    width: auto;
    > .inner {
      background: transparent;
      padding: 0;
      width: auto;
    }
  }

  &[data-disabled='true'] {
    color: rgba(255, 255, 255, 0.3);
    .inner {
      background: rgba(255, 255, 255, 0.12);
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0.12);
    }
    &[data-text='true'] {
      .inner {
        background: transparent;
      }
    }
  }
}