@use "sass:list";

@import '~/assets/styles/tools.scss';

.form_wrap {
  margin-bottom: 60px;
}

.chart_wrap {
  position: relative;
  height: 500px;
  width: 100%;
  margin-bottom: 60px;
}

.bar_chart {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  &_right {
    width: 100%;
  }
  &_icon {
    width: 56px;
    height: 56px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
  }
  &_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--theme-font-color);
    margin-bottom: 8px;
  }
  &_progress {
    position: relative;
    @include zIndex(overlay);
    height: 16px;
    border-radius: 8px;
    overflow: hidden;
    > span {
      width: 0;
      height: 100%;
      transition: width 0.5s linear;
      display: block;
      border-radius: 8px;
    }
  }
  $bgColors: (#ABC9FF, #C3E5AE, #FFB4B4, #B2A4FF);
  @for $index from 1 through 4 {
    &:nth-child(#{$index}n) {
      .bar_chart_progress {
        background: list.nth($bgColors, $index);
      }
    }
  }
}