@import '~/assets/styles/tools.scss';

.form_item_wrap {
  &[data-disabled='true'] {
    opacity: 0.3;
    pointer-events: none;
  }
}
.form_item {
  margin-bottom: 50px;
  border-bottom: 2px solid var(--theme-cherry);
  position: relative;
  > label,
  &.radio_item {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
  }
  input {
    @include resetInput;
    flex: 1;
    padding-bottom: 10px;
    background: transparent;
  }
}
.emoji_item {
  margin-bottom: 60px;
}
.code_item {
  input {
    width: 4em;
  }
  .send_code_button {
    padding-left: 2em;
  }
}
.form_item.radio_item {
  border-bottom: none;
  align-items: center;
  margin-bottom: 0;
  > label {
    display: block;
    margin-bottom: 0;
  }
  .radio_wrap {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 32px;
    > input {
      margin-right: 10px;
    }
  }
}
.error_message {
  color: var(--theme-orange);
  font-weight: bold;
  position: absolute;
  bottom: -40px;
  left: 0;
}