@import '~/assets/styles/tools.scss';


.container {
  height: var(--navigation-bar-height);
  .inner {
    position: fixed;
    @include zIndex(nav);
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navigation-bar-height);
    background: var(--theme-main-color);
    display: flex;
    align-items: center;
    padding: 0 24px;
    .menu_icon {
      width: 70px;
      height: 70px;
      color: var(--theme-pink);
    }
    > h1 {
      margin-left: 40px;
      font-weight: lighter;
    }
  }
}