@import '~/assets/styles/tools.scss';
@import '~/assets/styles/animate.scss';

@include bounceInDown;
@include flip;
@include lightSpeedInRight;
@include zoomInDown;

.container {
  padding: 0 40px 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > header {
    flex: none;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    > img {
      width: 100%;
      margin-bottom: 20px;
    }
    > h1 {
      writing-mode: vertical-rl;
      font-size: 32px;
      letter-spacing: 0.2em;
    }
  }

  > main {
    flex: 1;
    .page_contents {
      padding-top: 250px;
      display: flex;
      justify-content: center;
      font-size: 40px;
      > span {
        width: 128px;
        height: 128px;
      }
      p {
        letter-spacing: 10px;
      }
      &[data-step='1'] {
        > span {
          background: url('../assets/images/money.png') no-repeat center / 100%;
        }
        animation: bounceInDown 1s;
      }
      &[data-step='2'] {
        > span {
          background: url('../assets/images/gauge.png') no-repeat center / 100%;
          margin-right: 40px;
        }
        animation: flip .5s;
        backface-visibility: visible;
      }
      &[data-step='3'] {
        align-items: center;
        > span {
          background: url('../assets/images/chart.png') no-repeat center / 100%;
          margin-right: 40px;
        }
        animation: lightSpeedInRight 1s ease-out;
      }
      &[data-step='4'] {
        > span {
          background: url('../assets/images/globe.png') no-repeat center / 100%;
        }
        animation: zoomInDown 1s;
      }
    }
  }

  > footer {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > button {
      @include resetButton;
      font-weight: 500;
      font-size: 32px;
    }
    .to_home {
      flex: 1;
      text-align: center;
      height: 60px;
    }
  }
}