@import '~/assets/styles/tools.scss';
@import '~/assets/styles/animate.scss';

@include bounceInDown;
@include flip;
@include lightSpeedInRight;
@include zoomInDown;

$footerHeight: 120px;
$pageHorizontalPadding: 40px;

.container {
  padding: 0 $pageHorizontalPadding $footerHeight;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > header {
    flex: none;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .logo {
      width: 120px;
      height: 120px;
      margin-bottom: 20px;
    }
    > h1 {
      font-size: 32px;
      letter-spacing: 0.2em;
    }
  }

  > main {
    flex: 1;
    .page_contents {
      padding-top: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      .welcome_icons {
        width: 120px;
        height: 120px;
        margin-right: 20px;
      }
      p {
        letter-spacing: 10px;
      }
      &[data-step='1'] {
        animation: bounceInDown 1s;
      }
      &[data-step='2'] {
        animation: flip .5s;
        backface-visibility: visible;
      }
      &[data-step='3'] {
        animation: lightSpeedInRight 1s ease-out;
      }
      &[data-step='4'] {
        animation: zoomInDown 1s;
      }
    }
  }

  > footer {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 40px;
    height: $footerHeight;
    padding: 0 $pageHorizontalPadding;
    > button {
      @include resetButton;
      font-weight: 500;
      font-size: 32px;
      color: var(--theme-secondary-color);
    }
    .to_home {
      flex: 1;
      text-align: center;
      height: 60px;
    }
  }
}