
@mixin resetButton {
  border: none;
  background: none;
  outline: none;
  font-size: inherit;
  color: inherit;
}

@mixin zIndex ($level) {
  $levelMap: (
    wallpaper: -10,
    overlay: 10,
    popover: 20,
    affix: 30,
    toast: 40,
    nav: 50,
    sidebar: 60,
    dialog: 70,
  );

  z-index: map-get($levelMap, $level);
}