<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>欢迎登录桃子记账, <%= @email %></h1>
    <p>验证码是：<code><%= @code %></code></p>
    <p>验证码有效期为 <strong>1</strong> 分钟</p>
  </body>
</html>